@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-blue-50: #EBF0F4;
  --color-blue-100: #D7E1E9;
  --color-blue-200: #B0C4D3;
  --color-blue-300: #89A6BD;
  --color-blue-400: #6289A7;
  --color-blue-500: #3B6B91;
  --color-blue-600: #2C4762;
  --color-blue-700: #213549;
  --color-blue-800: #162330;
  --color-blue-900: #0B1218;
  --color-blue-950: #05090C;
}
